<div class="px-4 md:px-10 mx-auto w-full">
  <div>
    <!-- Card stats -->
    <div class="flex flex-wrap">

      <div class="w-full lg:w-6/12 xl:w-6/12 px-4">
        <app-card-stats statSubtitle="NEW CHEMICALS" statTitle="200" statArrow="down" statPercentColor="text-red-500"
          statIconName="fas fa-chart-pie" statIconColor="bg-orange-500"></app-card-stats>
      </div>
      <div class="w-full lg:w-6/12 xl:w-6/12 px-4">
        <app-card-stats statSubtitle="NEW USERS" statTitle="5" statArrow="down" statPercentColor="text-orange-500"
          statIconName="fas fa-users" statIconColor="bg-pink-500"></app-card-stats>
      </div>

    </div>
  </div>
</div>